.root {
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: rgb(231, 231, 231);
  display: flex;
  margin-bottom: 16px;
}

.buttonWrap {
  margin: 8px 16px;
  margin-left: auto;
}
